@font-face {
    font-family: myFirstFont;
    src: url(../images/RoyalInferno.ttf);
} 
body {
    /* background: ; */
    background-image: url(../images/psychic.png);
    background-size: 80%;
    background-position-y: -80px;
    background-position-x: 80px;
    color: white;
    resize: both;
}
h1 {
    font-size: 75px;
    font-family: 'Lobster', cursive;
}
h2 {
    color: rgb(140, 67, 158);
    font-family: myFirstFont;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.671);
}
#marg {
    margin-top:4%;
    
}

h3 {
    text-align: left;
}
.scoreboard {
    color: rgb(170, 102, 187);
    font-family: myFirstFont;
    margin-left: 4%;
}
/* #ygsf {
    color: black;
} */

